<div class="card">
<button *ngIf="this.userPermissions.allowed(this.permissionsIDs.CREATE_USER_PERMISSION_ID)" pButton pRipple label="Nuevo usuario" icon="pi pi-plus" class="p-button-outlined p-button-success p-mb-3" (click)="openNew()" ></button>
<p-table #dt [columns]="displayedColumns" [rowHover]="true"  [value]="UserListVM" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
  <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between"> 
          <h5 class="p-m-0">Usuarios</h5>
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
          </span>
      </div> 
</ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">  
            <th [ngStyle]="{'display': col.display }" [pSortableColumn]="col.field" >
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns">
            <td [ngStyle]="{'display': col.display }">
                <span class="p-column-title">{{col.header}}</span>
                <span *ngIf="col.field === 'status' && user[col.field] === 'ACTIVO'; else second" [class]="'status-badge status-active'">ACTIVO</span>
                    <ng-template #second>
                        <span *ngIf="col.field === 'status' && user[col.field] === 'INACTIVO'; else third" [class]="'status-badge status-inactive'">INACTIVO</span>
                    </ng-template>
                    <ng-template #third>
                        <span>{{user[col.field]}} </span>
                    </ng-template>
            </td>
        </ng-container>
          <td>
              <button *ngIf="this.userPermissions.allowed(this.permissionsIDs.UPDATE_USER_PROFILE_ID)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined" (click)="onEdit(user.id)"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
</p-table>
</div>