          <div class="p-card">
                <form class="p-fluid p-lg-12 p-sm-12 p-md-12 " [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <label>
                      <input type="number" formControlName="idUser"[hidden]="true" >
                    </label>
                    <div class="p-lg-12 p-md-12 p-sm-12"  [hidden]="isRecovery">
                        <label for="mainEmail">Correo eléctronico</label>
                        <span class="p-input-icon-left">
                          <input pInputText id="mainEmail" #mainEmail  type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="correo@electronico.com" formControlName="mainEmail" />
                          <i class="pi pi-user"></i>
                        </span>
                    </div>
                    <div class="p-lg-12 p-md-12 p-sm-12" [hidden]="isRecovery">
                      <label for="password">Contraseña actual</label>
                      <span class="p-input-icon-right">
                        <input id="password" #password  type="password" pInputText  [type]="hideOldP ? 'text' : 'password'" formControlName="password" />
                        <i (click)="hideOldP = !hideOldP"  [ngClass]="(hideOldP ? 'pi pi-eye' : 'pi pi-eye-slash')"></i>
                      </span>
                    </div>
                      <div class="p-lg-12 p-md-12 p-sm-12">
                        <label for="newpassword">Nueva contraseña</label> 
                        <span class="p-input-icon-right p-mb-2">
                          <input id="newpassword" #newpassword  type="password" pPassword  [type]="hideNewP ? 'text' : 'password'"  formControlName="newpassword" />
                          <i (click)="hideNewP = !hideNewP"  [ngClass]="(hideNewP ? 'pi pi-eye' : 'pi pi-eye-slash')"></i>                          
                        </span>
                      </div>
                      <div class="p-lg-12 p-md-12 p-sm-12">
                       <label for="verificationPassword">Repita nueva contraseña</label>
                        <span class="p-input-icon-right">
                         <input id="verificationPassword" #verificationPassword  type="password" pInputText  [type]="hideConfirmP ? 'text' : 'password'" formControlName="verificationPassword" />
                         <i (click)="hideConfirmP = !hideConfirmP"  [ngClass]="(hideConfirmP ? 'pi pi-eye' : 'pi pi-eye-slash')"></i>                          
                        </span>
                     </div>
                      <div class=" p-lg-4 p-md-2 p-sm-12">
                            <button pButton class="p-button-outlined p-button-success" type="submit" [disabled]="!changePasswordForm.valid" label="Confirmar"></button>
                      </div>  
                </form>
          </div>
 
  <p-toast position="top-right"></p-toast>